doctype html
html
    head
        title Detail
        link(rel='stylesheet' href='style.css')
        link(rel='icon' href='images/icon1.png')

    body
        h1 User Detail

        p Username: 
          span #{username}
        
        p Student ID: 
          span #{sid}

        p Phone: 
          span #{phone}

        p E-mail: 
          span #{email}
